name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"


jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v3
        with:
          version: 10.20.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Run Format and Lint
        run: pnpm run lint
      - name: Run Test
        run: pnpm run test
